@use "./mixin" as mixins;

.button-cart{
    // width: 100px;
    background-color: black;
    color:white;
    border:none;
    border-radius: 5px;
    padding:0px 20px;
    &:hover{
        cursor: pointer;
    }
}

.button-cart-image{
    width: 20px;
    height: 24px;
    margin-right: 5px;
    padding-bottom: 5px;
}

.button-cart-content{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

@include mixins.laptopS{
    .button-cart{
        padding:0px 12px;
    }
    .button-cart-image{
        width:18px;
        height:24px;
    }
    .button-cart-title{
        font-size: 12px;
    }
}