@use "./mixin" as mixins;


.app-header-title{
    text-align: center;
    font-size: 40px;
    margin-top:40px
}

.app-paragraph{
    text-align: center;
    font-weight: 500;
    color:#6d6d6d;
    padding: 10px 0px;
}


@include mixins.laptopS{
    .app-header-title{
        font-size:30px;
    }
    .app-paragraph{
        font-size: 14px;
    }
}

@include mixins.mobile{
    .app-header-title{
        font-size:28px;
        margin-top:20px
    }
    .app-paragraph{
        font-size: 14px;
    }
}