.app-header{
    // border:1px solid blue;
}

.app-header-title{
    text-align: center;
    font-size: 40px;
    margin-top:40px
}

.app-paragraph{
    text-align: center;
    font-weight: 500;
    color:#6d6d6d;
    padding: 10px 0px;
}