@use "./var" as var;
@use "./mixin" as mixins;

.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.navbar-select-holder{
    display: flex;
}

.navbar-select{
    &:first-child{
        margin-right: 10px;
    }
}

.navbar-navtitle-holder{
    position: absolute;
    display: flex;
    height: 40px;
    justify-content: center;
    transform: translateX(-50%);
    left:50%;
}

.nav-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 80px;
    font-weight: 800;
}

@include mixins.laptopM{
    .navbar{
        max-width: var.$nav-width
    }
}

@include mixins.laptopS{
    .nav-logo{
        margin:0px 40px;
    }
}

@include mixins.mobile{
    .navbar{
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .navbar-select-holder{
        justify-content: center;
        order:3;
    }
    .navbar-navtitle-holder{
        position: relative;
        transform: none;
        left:0;
    }
    .navbar-cart{
        width: 200px;
        height: 40px;
        margin:10px 0px;
    }
}